In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./reuter21578.tsv', sep='\t')

In [6]:
len(df)

10377

In [7]:
df.head()

,Unnamed: 0,text,topics,new_topic
0,0,Showers continued throughout the week in the B...,cocoa,Commodity
1,1,The U.S. Agriculture Department reported the f...,grain,Commodity
2,2,Argentine grain board figures show crop regist...,veg-oil,Commodity
3,3,Champion Products Inc said its board of direct...,earn,Corporate
4,4,Computer Terminal Systems Inc said it has comp...,acq,Corporate

In [8]:
df.new_topic.unique()

array(['Commodity', 'Corporate', 'Economic', 'Subject', 'Energy',
       'Currency'], dtype=object)

In [9]:
df.topics.unique()

array(['cocoa', 'grain', 'veg-oil', 'earn', 'acq', 'wheat', 'copper',
       'housing', 'coffee', 'sugar', 'trade', 'reserves', 'ship',
       'money-supply', 'cotton', 'carcass', 'crude', 'nat-gas', 'cpi',
       'money-fx', 'interest', 'gnp', 'soybean', 'meal-feed', 'alum',
       'tea', 'oilseed', 'gold', 'tin', 'strategic-metal', 'livestock',
       'retail', 'ipi', 'iron-steel', 'rubber', 'propane', 'heat', 'jobs',
       'lei', 'bop', 'zinc', 'orange', 'pet-chem', 'gas', 'silver', 'wpi',
       'fishmeal', 'hog', 'dlr', 'lumber', 'tapioca', 'instal-debt',
       'lead', 'potato', 'l-cattle', 'rice', 'nickel', 'inventories',
       'cpu', 'corn', 'fuel', 'jet', 'income', 'rand', 'platinum',
       'saudriyal', 'nzdlr', 'palm-oil', 'coconut', 'rapeseed', 'stg',
       'groundnut', 'wool', 'austdlr', 'soy-meal', 'plywood', 'barley',
       'yen', 'f-cattle', 'hk', 'naphtha'], dtype=object)