In [106]:
import pandas as pd
from IPython.display import display

In [94]:
def calcEditDistance(a, b):

    edMat = [[i if j == 0 else j if i == 0 else -1 for i in range(len(a)+1)] for j in range(len(b)+1)]

    for i, row in enumerate(edMat):
        for j, dist in enumerate(row):
            if dist < 0 and a[j-1] != b[i-1]:
                edMat[i][j] = min(edMat[i-1][j], edMat[i][j-1], edMat[i-1][j-1]) + 1
            elif dist < 0:
                edMat[i][j] = edMat[i-1][j-1]

    return edMat

def getLevenshteinDistance(a, b):
    return calcEditDistance(a, b)[-1][-1]

def approximateStringMatch(t, p, threshold):
    calcEditDistance(t, p)[-1]
    
def fuzzySearch(a, b):
    edMat = [[i if j == 0 else j if i == 0 else -1 for i in range(len(a)+1)] for j in range(len(b)+1)]
    
    for i, row in enumerate(edMat):
        for j, dist in enumerate(row):
            if dist < 0 and a[j-1] != b[i-1]:
                edMat[i][j] = min(edMat[i-1][j], edMat[i][j-1], edMat[i-1][j-1]) + 1
            elif dist < 0:
                edMat[i][j] = edMat[i-1][j-1]
                
            if edMat[i][j] + i + j == max(len(a), len(b)):
                break

In [110]:
a = 'MICROSOFT'
b = 'NCSOFT'
pd.DataFrame(calcEditDistance(a, b))

   0  1  2  3  4  5  6  7  8  9
0  0  1  2  3  4  5  6  7  8  9
1  1  1  2  3  4  5  6  7  8  9
2  2  2  2  2  3  4  5  6  7  8
3  3  3  3  3  3  4  4  5  6  7
4  4  4  4  4  4  3  4  4  5  6
5  5  5  5  5  5  4  4  5  4  5
6  6  6  6  6  6  5  5  5  5  4

In [108]:
a = 'minimanimo'
b = 'inimim'
calcEditDistance(a, b)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 2, 2, 1, 2, 3, 4, 5, 6, 7, 8],
 [3, 3, 2, 2, 1, 2, 3, 4, 5, 6, 7],
 [4, 3, 3, 3, 2, 1, 2, 3, 4, 5, 6],
 [5, 4, 3, 4, 3, 2, 2, 3, 3, 4, 5],
 [6, 5, 4, 4, 4, 3, 3, 3, 4, 3, 4]]

In [103]:
a = 'asdf1234'
b = 'qwerasdf1234'
calcEditDistance(a, b)

[[0, 1, 2, 3, 4, 5, 6, 7, 8],
 [1, 1, 2, 3, 4, 5, 6, 7, 8],
 [2, 2, 2, 3, 4, 5, 6, 7, 8],
 [3, 3, 3, 3, 4, 5, 6, 7, 8],
 [4, 4, 4, 4, 4, 5, 6, 7, 8],
 [5, 4, 5, 5, 5, 5, 6, 7, 8],
 [6, 5, 4, 5, 6, 6, 6, 7, 8],
 [7, 6, 5, 4, 5, 6, 7, 7, 8],
 [8, 7, 6, 5, 4, 5, 6, 7, 8],
 [9, 8, 7, 6, 5, 4, 5, 6, 7],
 [10, 9, 8, 7, 6, 5, 4, 5, 6],
 [11, 10, 9, 8, 7, 6, 5, 4, 5],
 [12, 11, 10, 9, 8, 7, 6, 5, 4]]

In [105]:
a = 'meilenstein'
b = 'levenshtein'
calcEditDistance(a, b)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 2, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9],
 [3, 3, 2, 2, 3, 4, 4, 5, 6, 7, 8, 9],
 [4, 4, 3, 3, 3, 3, 4, 5, 6, 6, 7, 8],
 [5, 5, 4, 4, 4, 4, 3, 4, 5, 6, 7, 7],
 [6, 6, 5, 5, 5, 5, 4, 3, 4, 5, 6, 7],
 [7, 7, 6, 6, 6, 6, 5, 4, 4, 5, 6, 7],
 [8, 8, 7, 7, 7, 7, 6, 5, 4, 5, 6, 7],
 [9, 9, 8, 8, 8, 7, 7, 6, 5, 4, 5, 6],
 [10, 10, 9, 8, 9, 8, 8, 7, 6, 5, 4, 5],
 [11, 11, 10, 9, 9, 9, 8, 8, 7, 6, 5, 4]]

In [109]:
a = 'peter'
b = 'petra'
pd.DataFrame(calcEditDistance(a, b))

   0  1  2  3  4  5
0  0  1  2  3  4  5
1  1  0  1  2  3  4
2  2  1  0  1  2  3
3  3  2  1  0  1  2
4  4  3  2  1  1  1
5  5  4  3  2  2  2

* http://hsp1116.tistory.com/41
* http://www.levenshtein.net
* http://www.biotec.tu-dresden.de/fileadmin/groups/schroeder/teaching/Applied_Bioinformatics/slides/AB_08_BLAST.pdf

In [1]:
piplist = !python3 -m pip list

In [11]:
text = ' '.join([library.split(" ")[0] for library in piplist[1:]])
pattern = 'smplejson, pkgutil, timeit, diango, djago, dajngo, djanga, easyinstall, libpeshka, pyconaufuntimes, mybiubiubiu, colourama'.split(', ')

In [13]:
import pmat

In [14]:
wm = pmat.Wu_Manber(pattern, text)

In [15]:
wm.existPatterns()

''