In [56]:
import sys

def ukkonen(a, b, threshold = sys.maxsize):
    if a == b:
        return 0
    
    if len(a) > len(b):
        temp = a
        a = b
        b = temp
    
    aLen = len(a)
    bLen = len(b)

    while aLen > 0 and ord(a[aLen - 1]) == ord(b[bLen -1]):
        aLen -= 1
        bLen -= 1

    if aLen == 0:
        return bLen if bLen < threshold else threshold

    tStart = 0
    while tStart < aLen and ord(a[tStart]) == ord(b[tStart]):
        tStart += 1

    aLen -= tStart
    bLen -= tStart

    if aLen == 0:
        return bLen if bLen < threshold else threshold

    threshold = bLen if bLen < threshold else threshold

    dLen = bLen - aLen

    if threshold < dLen:
        return threshold

    ZERO_K = ((aLen if aLen < threshold else threshold) >> 1) + 2

    arrayLength = dLen + ZERO_K * 2 + 2
    currentRow = [-1] * arrayLength
    nextRow = [-1] * arrayLength

    aCharCode = []
    bCharCode = []

    for i in range(aLen):
        t = tStart + i
        aCharCode.append(ord(a[t]))
        bCharCode.append(ord(b[t]))

    while i < bLen:
        bCharCode.append(ord(b[t]))
        i += 1
        t += 1


    i = 0
    conditionRow = dLen + ZERO_K
    endMax = conditionRow << 1

    while True:
        i += 1
        tmp = currentRow
        currentRow = nextRow
        nextRow = tmp

        start = 0
        previousCell = 0
        currentCell = -1
        nextCell = 0

        if i <= ZERO_K:
            start = -i + 1
            nextCell = i - 2
        else:
            start = i - (ZERO_K << 1) + 1
            nextCell = currentRow[ZERO_K + start]

        end = 0

        if i <= conditionRow:
            end = i
            nextRow[ZERO_K + i] = -1
        else:
            end = endMax - i

        rowIndex = start + ZERO_K
        for k in range(start, end):
            previousCell = currentCell
            currentCell = nextCell
            nextCell = currentRow[rowIndex + 1]

            t = currentCell + 1
            t = previousCell if t < previousCell else t
            t = nextCell + 1 if t < nextCell + 1 else t

            while t < aLen and t + k < bLen and aCharCode[t] == bCharCode[t + k]:
                t += 1

            nextRow[rowIndex] = t
            rowIndex += 1
        
        if not (nextRow[conditionRow] < aLen and i <= threshold):
            break

    return i - 1

In [57]:
ukkonen('Ukkonen', 'Levenshtein')

8

In [58]:
ukkonen('Ukkonen', 'Levenshtein', 6)

6

In [59]:
ukkonen('Ukkonen', 'Levenshtein', 10)

8

In [88]:
import pandas as pd

k = 4
cmat = []
for _ in range(5):
    cmat.append([None] * 9)

# cdf = pd.DataFrame(cmat)        
# cdf.index = [-1, 0, 1, 2, 3]
# cdf.columns = range(-4, 5)
cdf = pd.DataFrame()
cdf

Empty DataFrame
Columns: []
Index: []

In [124]:
def ukkonen(x, y):
    for d in range(k+1):
        print(d)
        cdf.loc[d-1, d] = (d-1)
        cdf.loc[d-2, d] = -999
    
    for d in range(-k,0):
        print(d)
        cdf.loc[abs(d)-1, d] = -1
        cdf.loc[abs(d)-2, d] = -999
        
#     cdf = cdf.sort_index()[cdf.columns.sort_values()]
       
    for e in range(k):
        for d in range(-e, e):
            col = int(max(cdf.fillna(-999).loc[e-1, d-1]+1, 
                          cdf.fillna(-999).loc[e-1,d]+1, 
                          cdf.fillna(-999).loc[e-1,d+1]))
            if col > -9:
                while x[col+1-d] == y[col+1]:
                    print(col)
                    col += 1

                cdf.loc[e,d] = col

In [125]:
ukkonen('microsoft', 'ncsoft')

0
1
2
3
4
-4
-3
-2
-1
0
2
1
2
3
4

IndexError: string index out of range

       -4     -3     -2     -1      0      1      2      3      4
-2    NaN    NaN    NaN    NaN -999.0    NaN    NaN    NaN    NaN
-1    NaN    NaN    NaN -999.0   -1.0 -999.0    NaN    NaN    NaN
 0    NaN    NaN -999.0   -1.0    NaN    0.0 -999.0    NaN    NaN
 1    NaN -999.0   -1.0    NaN    NaN    NaN    1.0 -999.0    NaN
 2 -999.0   -1.0    NaN    NaN    NaN    NaN    NaN    2.0 -999.0
 3   -1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    3.0

* http://ocw.snu.ac.kr/sites/default/files/NOTE/4048.pdf